/* ******************************* GLOABAL STYLES ****************************** */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root{
    --mainFont: 'Montserrat', sans-serif;
    --primaryColor: #48494D;
    --secondaryColor: #AD997B;
}
body {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    font-family: var(--mainFont);
} 
.hidden { 
    display: none;
}




/* ******************************* NAVBAR ****************************** */
/* dropdown menu */
.btn {
    color: var(--secondaryColor)
}
.dropdown {
    display: flex;
    justify-content: flex-end;
}

.dropdown-menu {
    background-color: var(--primaryColor);
}
.dropdown-item {
    cursor: pointer;
    color: var(--secondaryColor)
}
.dropdown-item:hover {
    background-color: var(--secondaryColor);
}


/* ******************************* MAIN ********************************** */
 #container {
    /* border: 2px solid red; */
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* z-index: -1; */
} 

#my-logo {
    transform: scale(.5)
}

/* ******** LOGO AND NAME ******** */
.logo-assets {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 45vh;
}
.media-logos .hidden{
    /* border: 2px solid red; */
    height: 50px;
    display: flex;
    justify-content: center;
} 


div {
    /* border: 2px solid red; */
    height: 50px;
    display: flex;
    justify-content: center;
}


/* ******************************* CARD STYLING ******************************* */
/* cards div */
#cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* card image styling */
.card-image {
    /* width: 40vw; */
    /* height: auto; */
    padding: 10px;
}

/* card background */
.main-card::part(base) {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    border: none;    
}

/* card body styling..under image */
.main-card::part(body) {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primaryColor);
    width: 100%;
}

/* card header styling */
section h1 {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    margin-right: 20px;
    font-size: .9em;
    /* ////////////////////////////////////////////////////// */
}

/* .button__label span::part(label) {
    border: 2px solid red;
    background-color: red;
} */




/* ******************************* MEDIA QUERIES ******************************* */
/* ******************************* MEDIA QUERIES ******************************* */
/* ******************************* MEDIA QUERIES ******************************* */
@media screen and (min-width: 1024px) {
/* ************* NAV DROPDOWN *********** */
    .dropdown {
        /* border: 3px solid red; */
        display: flex;
        justify-content: center;
        background-color: #281C15;
        height: 100px;
        
     }
     .dropdown .mobile {
         /* border: 3px solid red; */
         margin-right: 270px;
         font-size: 1.3em;
     }
     .dropdown .mobile:hover {
         transform: scale(1.15);
         color: var(--secondaryColor);
         font-weight: bold;
         border: none;
     }
    
/* **************** MAIN VIDEO/IMAGE **************** */
#container {
    /* border: 2px solid blue; */
    width: 2600px;
    display: flex;
    justify-content: center;
    margin-top: -100px;
    background-size: cover;
    background-position: center;
    margin: 0 0; /* this is weird.. it has to be margin of 0 or it will cover the nav bar*/
    /* transform: scale(1.1); */
    transform: scaleX(1.1);
}

/* **************** LOGO / NAME **************** */

/* #my-logo {
    height: 12vh;
    position: relative;
    bottom: 45vh;   
    right: 5vw
}

section h1 {
    position: relative;
    bottom: 52vh;
    left: 7vw;
} */
/* ******** Logo image and name div ******** */
.logo-container {
    border: 2px solid red;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 45vh;
}


.media-logos {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;

    transform: scale(.7);
}




}
/* *********************** media ************************ */


